@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

body {
  box-sizing: border-box;
  background-color: #c3cdd4;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.products-form, .products-list {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;

  /*border: 1px solid #000;*/
  position: absolute;
  top: 3%;
  transform: translateX(-50%);
  left: 50%;
}

.products-form {
  width: 100%;
  max-width: 560px;
}

.products-list {
  width: 100%;
  max-width: 700px;
}

.products-list__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  padding: 0 5px;
}

.products-form__title {
  margin: 0 0 25px;

}

label{
  display: flex;
  align-self: flex-start;
  width: 100%;
  /*margin: 0 0 20px;*/
}

.products-form__text {
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  background-color: #fff;
  width: 100%;

}

.products-form__text::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #aaaaaa;
}

input[type='date'] {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #aaaaaa;
  border: none;
}

input[type='date']:active,


.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #008178;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: all .2s ease-in;
}

.btn:hover, .btn:active {
  background-color: #00a59c;
}

.products-form__btn {
  width: 100%;
}

.table-row-delete {
  background-color: #a20019;
  margin: 0 auto;
  width: 100%;
  padding: 5px 10px;
}

.table-row-delete:hover, .table-row-delete:active {
  background-color: #c4001b;
}


.products-list__table {
  align-self: stretch;
  border: none;
  border-spacing: 0px;
}

.products-list__table thead {
  text-wrap: nowrap;
  background-color: #2c2c2c;
  color: #ffffff;
  border: none;
  text-align: left;
}

.products-list__table tbody {
  text-wrap: nowrap;
  background-color: #fff;
}

.col-last {
  display: flex;
  align-items: center;
}



.products-list__table th:nth-child(1),
.products-list__table th:nth-child(2),
.products-list__table th:nth-child(3) {
  width: 10%;
}

.products-list__table th:nth-child(4) {
  width: 15%;
}

.products-list__table th:nth-child(5) {
  width: 30%;
}

.products-list__table th {
  padding: 20px;
  font-weight: 400;
  transition: all .2s ease;
  cursor: pointer;
}

.products-list__table th:hover, .products-list__table th:active {
  background-color: #4f4f4e;
}


.products-list__table td {
  padding: 10px 20px;
  border-bottom: 1px solid #959595;
}



.loader {
  position: absolute;
  top: 50%;
  left: calc(50% - 2px);
  --d:22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #00A59C;
  z-index: 10;
  box-shadow:
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: s7 0.5s infinite steps(8);
}

@keyframes s7 {
  100% {transform: rotate(1turn)}
}
