body {
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0 0 20px;
}

label  {
  margin: 0 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0,0,0,0);
  overflow: hidden
}

.container {
  display: flex;
  justify-content: space-between;
}

.task1, .task2, .task3 {
  padding: 20px 30px;
  margin: 0;
  width: Calc(100% / 3) ;
}

.task1, .task2 {
  border-right: 1px solid #b1b1b1;
}



/* задача 1*/
.qaForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__label {
  margin-bottom: 20px;
  position: relative
}

.form__label_last {
  margin-bottom: 11px
}

.form__textarea {
  height: 50px;
  width: 100%;
  padding: 16px 24px;
  resize: none;
  border: none;
  outline: 0;
  background-color: #e9e9e9;
  letter-spacing: .4px;
}

.form__textarea::-moz-placeholder {
  color: #999;
  letter-spacing: .4px;
  font-size: 16px;
  line-height: 18px;
}

.form__textarea:-ms-input-placeholder {
  color: #999;
  letter-spacing: .4px;
  font-size: 16px;
  line-height: 18px
}

.form__textarea::placeholder {
  color: #999;
  letter-spacing: .4px;
  font-size: 16px;
  line-height: 18px
}

.form_title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.form__label {
  width: 100%;
}

.form__input, .calcForm__input input, .input {
  height: 20px;
  width: 100%;
  padding: 15px 23px;
  font-size: 16px;
  line-height: 19px;
  color: #333;
  background-color: #e9e9e9;
  border: 1px solid #656565;
  outline: 0;
}

.form__labelTitle {
  flex-grow: 1;
  width: 100%;
}

.radio  {
  display: flex;
  flex-wrap: wrap;
}
.interest {
  display: flex;
  flex-direction: column;
}

.radio-btn, .ch-btn {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

#contact-gender2 {
  margin-left: 15px;
}

#contact-range{
  margin: 0 5px;
  padding: 0;
}

.form__input::placeholder, .calcForm__input::placeholder {
  color: #999
}

.form__btn {
  padding: 12px 18px;
  align-self: flex-start
}

.results p {
  margin: 0 5px;
  color: #5e5e5e;
}

.results span {
  color: #000000;
}

.form__input::-moz-placeholder, .input::-moz-placeholder, .form__textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 16px
}

.form__input:-ms-input-placeholder, .input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px
}

.form__input::placeholder, .input::placeholder, .form__textarea::placeholder {
  font-size: 14px;
  line-height: 16px
}

.form__btn {
  font-size: 14px;
  line-height: 16px;
  padding: 9px 17px
}

.form__input::-moz-placeholder, .input::-moz-placeholder, .form__textarea::-moz-placeholder {
  -moz-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

.form__input:-ms-input-placeholder, .input::-ms-input-placeholder.form__textarea::-ms-input-placeholder {
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}

.form__input::placeholder, .input::placeholder, .form__textarea::placeholder {
  transition: color .2s ease-in-out
}


.btn {
  padding: 12px 20px;
  border: 3px solid transparent;
  background-color: #327dcb;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  cursor: pointer;
  outline: 0;
  transition: background-color .2s ease-in,border-color .2s ease-in
}

.btn:hover {
  background-color: #5b98d7;
}

.btn:focus {
  background-color: #5b98d7;
  border-color: #163453;
}

.btn:active {
  background-color: #5b98d7;
  border-color: #163453;
}

.results {
  padding: 25px 0;
}


table {
  border-collapse: collapse;
  width: 100%;
}
table, th, td {
  border: 1px solid #ccc;
}
th, td {
  padding: 10px;
  text-align: left;
}

th:nth-child(1), td:nth-child(1) {
  width: 100%;
  max-width: 50%;
}

th:nth-child(2), th:nth-child(3), td:nth-child(2), td:nth-child(3) {
  width: 100%;
  max-width: 15%;
}

th:nth-child(4), td:nth-child(4) {
  width: 100%;
  max-width: 30%;
}

.task2 {
  width: 35%;
  display: flex;
  flex-direction:column;
}

.calcForm__input{
  display: flex;
  margin: 0 0 10px;
}

.calcForm__input span, .calcForm__input input {
  width: 100%;
}

.calcForm__btn {
  margin: 0 0 15px;
  padding: 5px 15px;
}

.warning {
  color: red;
  font-size: 0.9em;
}

.cardForm {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}
.cardForm_input {
  margin: 0 0 10px;
  text-wrap: nowrap;
}

.cardForm_input span {
  width: 100%;
}


.cardForm_input select {
  margin-left: 10px;
}

.userCard {
  margin: 20px;
  padding: 40px 20px 25px;
  max-width: 270px;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: #f54e4e;
  box-shadow: 0 0 10px 2px #8d8d8d;
}

.userCard span {
  display: block;
  text-align: center;
  margin: 0 0 20px;
  font-size: 1.5em;
}

.card {
  margin: 0 5px;
  height: 1em;
}

.cardNum {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2em;
  margin: 0 0 10px;
}

.cardNum p {
  margin: 0;
}

.cardName.active {
  background-color: #cbebd6 !important;
  border-radius: 5px !important;
}
