body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #999;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

form input[type="checkbox"] {
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

form input[type="submit"]:hover {
  background-color: #444;
  cursor: pointer;
}

table {
  width: 100%;
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px #999;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

td {
  vertical-align: top;
}


.popup {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.popup::before {
  content: '';
  position: absolute;
  background-color: rgba(119, 165, 207, .5);
  height: 100%;
  width: 100%;
  z-index: 5;
}

.p-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  z-index: 10;
}

.popup .popup-form {
  min-width: 400px;
  border-radius: 15px;
  display:flex;
  flex-direction:column;

}


.popup  label {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.popup  input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}



.popup .checkbox {
  align-self: flex-start;
}

/*#film-form .is-label-invalid {*/
/*  color: green;*/
/*}*/

