body {
  background-color: #e1e1e1;
}

.card__wrap, .totalWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.totalWrap {
  flex-direction: column;
  gap: 20px;
}

.totalDescr  {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.card__wrap {
  margin: 0 0 20px;
}

.card, .update {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
  background-color: #fff;
}

.card.delivered {
  border: 3px solid #09a90c;
}

.card.canceled {
  background-color: #cfcfcf;
  color: #434343;
  opacity: 0.8;
  /*pointer-events: none;*/
}

.card.canceled .card__change {
  color: #434343;
  border: 1px solid #434343;
  /*cursor: auto;*/
  z-index: 2;
}


.card p {
  position: relative;
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 16px;
}

.card p:last-child {
  margin: 0;
}


.card__descr {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #434343;
  display: block;
  margin: 0 0 5px;
}

.card__change {
  position: absolute;
  align-self: flex-end;
  background-color: transparent;
  color: #1f44ef;
  border: 1px solid #1f44ef;
  border-radius: 7px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all .2s ease;
}

.card__change:hover {
  background-color: #3758f1;
  color: #fff;
}

.card__change:active {
  background-color: #092dd3;
  color: #fff;
}

.update {
  position: relative;
}

.update.active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.popup {
  background-color: rgba(2,2,2, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*opacity: .5;*/
  width: 100%;
  height: 100%;
  z-index: 5;
}

.update p {
  font-weight: 700;
  font-size: 16px;
}

.update input, .update__status {
  border-radius: 8px;
  border: 1px solid #434343;
  padding: 5px 10px;
  margin: 0 0 7px;
}

.update__status {
  margin: 0 0 10px;
}

.update__btn, .totalBtn {
  background-color: #1f44ef;
  color: #FFF;
  border: none;
  border-radius: 7px;
  padding: 7px 14px;
  cursor: pointer;
  transition: all .2s ease;
}

.totalBtn {
  margin: 0 auto;
}

.update__btn:hover, .totalBtn:hover {
  background-color: #3556f1;
  color: #fff;
}

.update__btn:active, .totalBtn:hover {
  background-color: #1032d1;
  color: #fff;
}

.update__close {
  position: absolute;
  right: 0%;
  top: 0%;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  font-weight: 700;
}

.update__close:hover {
  color: #d50000;
}


