body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #999;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"], form input[type="search"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

form input[type="checkbox"] {
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

form input[type="submit"]:hover {
  background-color: #444;
  cursor: pointer;
}

#film-form input:last-child {
  width: 100%;
}

#film-table button {
  text-align: center;
  width: 100%;
  display: block;
  margin: 0 0 0 auto;

}

table {
  width: 100%;
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px #999;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

td {
  vertical-align: top;
}

td:nth-child(2), td:nth-child(3) {
  width: 12%;
}

td:nth-child(4) {
  width: 18%;
}
td:nth-child(5) {
  width: 15%;
}


button {
  background-color: #d00b0b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.sort-cont {
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin: 0 0 20px;
}

#sort-form {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: 0 20px 0 0;
  gap: 10px;
}

#sort-form input {
  display: block;
  margin: 0;
  width: calc(90% - 5px);
}


#sort-form label  {
  width: 100%;
}

#sortWatch {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
