* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#init-popup, #init-promo {
  display: inline-block;
  margin: 20px;
  padding: 5px 25px;
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.popup.active {
  display: inherit;
}

.popup::before {
  content: '';
  position: absolute;
  background-color: rgba(119, 165, 207, .5);
  height: 100%;
  width: 100%;
  z-index: 5;
}

.p-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  padding: 30px;
  margin: 30px;
  width: fit-content;
  border-radius: 15px;
  background-color: #FFF;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  z-index: 10;
}

.promo {
  flex-direction: column;
}

.promoForm {
  display: flex;
  justify-content: space-between;
}

.popup__promo {
  display: none;
  color:green;
  font-weight: 700;
  align-self: flex-start;
}

.popup__label {
  display: flex;
  flex-wrap: nowrap;
}

.popup__input {
  display: block;
  margin: 0 15px 0 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #858585;
}

.promo .popup__btn {
  align-self: normal;
  padding: 5px 20px;
}

.popup__img {
  position: relative;
  width: 150px;
  height: auto;
  object-fit: cover;
  margin: 0 30px 0 0;
  z-index: 10;
}

.popup__contant {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.popup__title {
  margin: 0 0 20px;
}

.popup__btn {
  display: block;
  align-self: flex-start;
  text-decoration: none;
  padding: 10px 20px;
  color: #000;
  background-color: #589FFF;
  border-radius: 10px;
  font-size: 18px;
  transition: all .3s ease;
}

.popup__btn:hover {
  background-color: #88b7f7;
}

.popup__btn:active {
  background-color: #3685ef;
}


.close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -20px;
  right: -20px;
  border: 1px solid red;
  border-radius: 30%;
  cursor: pointer;
}
